@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');
#root{
  display:flex;
    
 
  flex-direction: column;
 

  --default-box-shadow: 10px 10px 5px #0000006e;
  --default-box-shadow-small:5px 3px 10px #0000006e;
  --hover-box-shadow-small:7px 5px 10px #0000006e;
  --default-color : #1c75b2;
  --default-subColor:  #b6d8ffda;
    height: fit-content;
}



body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  }
button{
  font-family: "Josefin Sans", sans-serif;
}
p, h2,  h1, h3, ul{
  margin: 0;
}
input{
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
}
#wholePage{
  display:flex;
    
  flex-direction: column;
  width:100vw;
  height: 100vh;
  align-items: center;
  justify-self: center;
  overflow-x: hidden;

}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hint{
  color: gray;
  font-style: italic;
}
.error{
  color:red;
  font-style: italic;
  font-weight: bold;
}
.success{
  color:rgb(0, 199, 0);
  font-style: italic;
  font-weight: bold;
}

.blackBG{
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.defaultBorder-thin{
  border-radius: 20px;
  border: var(--default-color) 2px solid;
  box-shadow: var(--default-box-shadow);
}
.defaultBorder-thick{
  border-radius: 20px;
  border: var(--default-color) 5px solid;
  box-shadow: var(--default-box-shadow);
}
.exitButton{
  margin-left:auto;
}