#loginMain{
    width: 50%;
    height: fit-content;
    
    display: flex;
    align-items: flex-start;
   
    
   
}
/*LoginForm*/
#loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding:5%;
}

/*CreateAccountForm*/
#createAccountForm{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}
#createAccountForm *{
    margin: 1%; 
    
}
#createAccountForm input[type = text]{
    width: 100%;
    
}
/* Tablet (768px–1023px) */
@media (max-width: 1023.98px) {
  #loginMain{
    width: 80%;
  
}
}

/* Mobile (<768px) */
@media (max-width: 767.98px) {
  #loginMain{
    width: 80%;
  
}
}