#RVDescprition{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    height: 140vh;
    padding: 2%;
    align-items: star;
    justify-content: center ;
    gap: 2vh;
}
#RVmainContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    gap: 2%;

}


.imgContainer{
    width: 70%;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RVDescprition img{
    border: var(--default-color) 5px solid;
    border-radius: 20px;
    
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    object-fit: cover;
    width: 100%;        
    
}

.RVSpecs{
    
    
    height: 20%;
   
    display: flex;
    flex-direction: column;
    border: var(--default-color) 5px solid;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    padding: 2%;
    
    
}
.RVSpecs ul > *{
    margin-top: 3vh;
    
}
.RVSpecs *{
    
   margin-bottom: 1%;
    
    
}

.rvHeader{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.rvHeader *{
    
   margin: 1%;
}
.RVTextDesc{
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    border: var(--default-color) 5px solid;
    box-shadow: var(--default-box-shadow);
    overflow-y: auto;

}
/* BookRVBox */

#bookRVBox{
    display: flex;
    flex-direction: column;
    border: var(--default-color) 5px solid;
    width: 20%;
    position: relative;
    
    height: 10%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    height: fit-content;
    margin-top: 7%;
    position: fixed;
    top: 18%;
    right: 2.5%;
    z-index: 999;
    background-color: white;
}
#bookingContainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    
}

.bookingDate{
    width:20vw;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--default-color) 2px solid ;
    height: 8vh;
    box-sizing: border-box;
    background-color: #b6d8ffda;
    padding: 5px;
}
.bookingDate p{
    text-decoration: underline;
}
.bookingDate input{
    height: 80%;
    width: 70%;
    font-size: large;
    text-align: center;
    border: 0;
    background-color: #b6d8ffda;
    border-radius: 20px;
}
.bookingDate input:hover{
    background-color: lightgray;
}
#costContainer{
    padding: 2%;
    font-size: large;
    transition: all ease 0.1;
    
}
#costContainer h3{
    text-decoration: underline;
    margin-bottom: 2%;
}
.bookingSubmit{
    height: 40%;
    font-size: large;
    text-align: center;
    
}