.labelInputContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1vh;
    

}
.labelInput{
    border: var(--default-color) 2px solid;
  
    height: clamp(50px, 18%, 18%);
    box-sizing: border-box;
    border-radius: 20px;
    padding:3%;
    box-shadow: var(--default-box-shadow);
}
.labelInput[type=number]{
    width: fit-content;
}

.labelInput[type=select]{
    width: clamp(300px, 50%, 100%);
}

.labelSelect{
   width: min(fit-content, 100%)

}