.labelInputContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1vh;
    

}
.labelInput{
    border: var(--default-color) 2px solid;
  
    height: 18%;
    box-sizing: border-box;
    border-radius: 20px;
    padding:3%;
    box-shadow: var(--default-box-shadow);
}
.labelInput[type=number]{
    width: 20%;
}

.labelInput[type=select]{
    width: 20%;
}
.labelSelect{
    width: 20%;

}