.labelInputContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1vh;

}
.labelInput[type=number]{
    width: 20%;
}
.labelInput[type=text]{
    width: 50%;
}
.labelInput[type=select]{
    width: 20%;
}
.labelSelect{
    width: 20%;
    
    
}