
#nav{
    
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: right;
    align-items: center;
    border-bottom: var(--default-color) 5px solid;
}

#nav h2, h1{
    color: var(--default-color);
    padding-right: 2%;
}
#nav h1{
    color: var(--default-color);
    padding-right: 2%;
    justify-self: left;
    margin-right: auto;
    
}
#nav img{
    
    padding: 1%; 
}

